<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/js/style.css">
  </head>
  <body>

  <div id="react-app"></div>
  <script>
    const initialState={
      {{#if true}}
      adminSettings:{
          adminLenguage:'{{{adminLenguage}}}',
          adminLenguageBoolean:'{{{adminLenguageBoolean}}}'
      },
      {{/if}}
      device:{
        isMobile:'{{{isMobile}}}'
      }
    }
  </script>
  <script src="/js/main.app.js"></script>
  </body>
</html>
